
.header {
    background-color: rgb(57, 6, 57);
    
    .header__container {
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h1{
            color: whitesmoke;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .navbar__link {
                font-size: 20px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 700;
                color: white;
                margin: 0;
            }
        }
    }
}
